.container .carousel-inner img{
    width: 700px;
    height: 500px;
}

.container img{
    border-radius: 1em;
}

.container .card img{
    height: 200px;
    /*padding-top: 0,5em;
    margin-top: 1em;
    width: 220px;*/
}

.card-group h4{
    font-size: bold;
}